.feat .sec1{
    display: flex;
    justify-content: space-between;
}
.feat .sec1 .spe-elva{
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: relative;
    cursor: pointer;
}
.feat{
    margin-bottom: 500px;
}
.feat .sec2{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}
.feat .prop-dad-n{
    width: 300px;
}
@media (max-width :992px) {
    .feat .hide{
        display: none;
    }
    .feat .sec2{
        justify-content: center;
        align-items: center;
    }
}
