.tit{
    color: var(--main-color); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;
    margin-bottom: 20px;
}
.our-white{
    color: var(--main-color); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;
    margin-bottom: 20px;
    color: white;
}
.co-center{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.our-co1 h2{
    font-size: 40px;
    font-weight: bold ; 
}
.our-h2-white{
    font-size: 30px;
    font-weight: bold ; 
    color: white;
}
.our-co{
    width: 450px;
}