.card-dad{
    border: solid 2px rgb(227 232 255);
    padding: 20px;
    border-radius:16px ;
    width: 360px;
}
.card-dad .top{
    display: flex;
    justify-content: space-between;
    border: solid 2px rgb(227 232 255);
    border-radius:16px ;
    padding: 10px 15px;
    background-color: var(--main-color);
    color: white;
    align-items: center;
}
.card-dad  .tp-r h6{
    font-weight: bold;
}
.card-dad  .tp-r .big{
    font-size: 30px;
}
.card-dad ul{
    color: rgb(98 110 139);
    list-style: none;
    margin-top: 20px;
}
.card-dad ul li{
    margin-bottom: 10px;
    position: relative;
}
.qq{
    position: absolute;
    right: 0;
}
.xx{
    color: red;
    margin-bottom: 10px;
}
.card-dad .buut1{
    text-align: center;
    width: 100%;
    border: solid 2px rgb(227 232 255);
    border-radius:16px ;
    padding: 10px ;
    margin-top: 10px;
    font-weight: bold;
    color: var(--main-color);
}
.card-chek{
    color: var(--main-color);
    margin-right: 5px;
}
.more-blue-color-top{
    background-color: rgb(24 24 94);
    color: white;
    display: flex;
    justify-content: space-between;
    border: solid 2px rgb(227 232 255);
    border-radius:16px ;
    padding: 10px 15px;
    align-items: center;
}
.more-blue-color-but{
    background-color: rgb(24 24 94);
    color: white;
    text-align: center;
    width: 100%;
    border: solid 2px rgb(227 232 255);
    border-radius:16px ;
    padding: 10px ;
    margin-top: 10px;
    font-weight: bold;
    color: white;
}