.brands-dad{
    padding-top:60px ;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.brand-cont{
    border-bottom: 3px solid rgb(228 233 255);
}
@media (max-width:786px) {
    .hide{
        display: none;
    }
    .brands-dad{
        justify-content: center;
        align-items: center;
    }
}